@import "./utils/varialbles/colors";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  color: black;
}
body {
  overflow-x: hidden;
  background: radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 20px 20px,
    radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      10px 10px / 20px 20px,
    linear-gradient(#ececec 2px, transparent 2px) 0px -1px / 10px 10px,
    linear-gradient(90deg, #ececec 2px, #ffffff 2px) -1px 0px / 10px 10px #ffffff;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
  background-color: #ffffff;
  transition-duration: 0.5s;
}
a {
  text-decoration: none;
}
p,
button {
  font-size: 16px;
}
h1 {
  font-size: 58px;
}

/************** Button *******************/
.button {
  padding: 10px 35px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50px;
  background: linear-gradient(270deg, $purple 0%, $blue 100%);
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  margin-left: 10px;
  transition-duration: 0.5s;
  &:hover {
    opacity: 0.9;
  }
}
/************** Input filed *******************/
.input_div {
  display: flex;
  position: relative;
  span {
    background-color: $purple;
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    position: absolute;
    top: 7px;
    left: 7px;
    i {
      font-size: 18px;
      color: $white;
    }
  }
  input {
    font-size: 18px;
    padding: 13px 60px;
    border-radius: 50px;
    width: 100%;
    border: 3px solid $purple;
    background-color: transparent;
  }
}
/************** Loader *******************/
.fa-spinner {
  animation: spin 1s linear infinite;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/************** Error Boundary message *******************/
.errorBoundary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: rgba(255, 255, 255, 0.514);
  text-align: center;
  text-transform: capitalize;
}

/************** Custom scrollbar *******************/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cacaca2a;
  border-radius: 10px;
}

/************** Error Page *******************/
.errorPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 1050px) {
  p,
  button {
    font-size: 14px;
  }
  h1 {
    font-size: 38px;
  }
  .input_div {
    display: flex;
    position: relative;
    span {
      background-color: $purple;
      padding: 8px 13px;
      border-radius: 50px;
      color: white;
      position: absolute;
      top: 6px;
      left: 7px;
      i {
        font-size: 16px;
      }
    }
    input {
      font-size: 16px;
      padding: 11px 54px;
      border-radius: 50px;
      width: 100%;
      border: 3px solid $purple;
      background-color: transparent;
    }
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 32px;
  }
  .button {
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
    background: linear-gradient(270deg, $purple 0%, $blue 100%);
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 550px) {
  p,
  button {
    font-size: 12px;
  }
  h1 {
    font-size: 28px;
  }
  .button {
    padding: 7px 25px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50px;
    background: linear-gradient(270deg, $purple 0%, $blue 100%);
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 10px;
  }
  .input_div {
    display: flex;
    position: relative;
    span {
      background-color: $purple;
      padding: 5px 10px;
      border-radius: 50px;
      color: white;
      position: absolute;
      top: 5px;
      left: 6px;
      i {
        font-size: 14px;
      }
    }
    input {
      font-size: 14px;
      padding: 10px 46px;
      border-radius: 50px;
      width: 100%;
      border: 2px solid $purple;
      background-color: transparent;
    }
  }
}

.heading {
  --bg-size: 200%;
  --color-one: #151515;
  --color-two: #e8e8e8;
  --color-three: #222222;

  background: linear-gradient(
      60deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-three),
      var(--color-one),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 12s infinite linear;
}
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 12s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
