@import "../../utils/mixins/flex";
@import "../../utils/varialbles/colors";
@import "../../utils/mixins/button";
@import "../../utils/varialbles/fonts";
@import "../../utils/varialbles/border";

.user_nav {
  @include flex($content: space-between);
  width: 1200px;
  height: 100px;
  margin: 10px auto 0;
  .user_info {
    @include flex($content: space-between);
    h1 {
      font-size: 32px;
      margin-left: 10px;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}
.search_section {
  margin: 20px auto;
  width: 1200px;
  .input_div {
    width: 100%;
  }
}

.users_section {
  // border: 1px solid black;
  width: 1200px;
  margin: 50px auto;
  cursor: pointer;
  overflow-y: auto;
  .user {
    display: flex;
    align-items: center;
    // padding: 15px 10px;
    padding-bottom: 14px;
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(183, 183, 183, 0.281);
    transition-duration: 0.7s;
    position: relative;
    // border: 1px solid red;
    div {
      position: absolute;
      z-index: 2;
      top: 12px;
      width: 12px;
      height: 12px;
      border-radius: 50px;
    }
    .active {
      left: -12px;
      background-color: rgb(43, 246, 43);
    }
    .deactive {
      left: -12px;
      background-color: tomato;
    }
    p {
      margin-left: 10px;
      width: 100%;
      text-transform: capitalize;
      font-size: 20px;
      color: $font;
      font-weight: 600;
    }
    img {
      width: 58px;
      height: 56px;
    }
  }
  // .user:hover {
  //   transform: scale(0.9);
  // }
}

@media screen and (max-width: 1250px) {
  .user_nav {
    width: 1050px;
  }
  .search_section {
    margin: 20px auto;
    width: 1050px;
    .input_div {
      width: 100%;
    }
  }
  .active_user_section {
    width: 1050px;
  }
  .users_section {
    width: 1050px;
  }
}

@media screen and (max-width: 1050px) {
  .user_nav {
    width: 750px;
  }
  .search_section {
    margin: 20px auto;
    width: 750px;
    .input_div {
      width: 100%;
    }
  }
  .active_user_section {
    width: 750px;
  }
  .users_section {
    width: 750px;
  }
}

@media screen and (max-width: 750px) {
  .user_nav {
    width: 90%;
    height: 80px;
    margin: 10px auto 0;
    .user_info {
      @include flex($content: space-between);
      h1 {
        font-size: 24px;
      }
      img {
        width: 45px;
        height: 43px;
      }
    }
  }
  .search_section {
    margin: 20px auto;
    width: 90%;
    .input_div {
      width: 100%;
    }
  }

  .users_section {
    // border: 1px solid black;
    width: 90%;
    margin: 50px auto;
    .user {
      display: flex;
      align-items: center;
      // padding: 15px 10px;
      padding-bottom: 8px;
      margin-bottom: 22px;
      border-bottom: 1px solid rgba(183, 183, 183, 0.281);
      transition-duration: 0.7s;
      position: relative;
      // border: 1px solid red;
      div {
        position: absolute;
        z-index: 2;
        top: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50px;
      }
      .active {
        left: -12px;
        background-color: rgb(43, 246, 43);
      }
      .deactive {
        left: -12px;
        background-color: tomato;
      }
      p {
        margin-left: 10px;
        width: 100%;
        text-transform: capitalize;
        font-size: 16px;
        color: $font;
        font-weight: 600;
      }
      img {
        width: 45px;
        height: 43px;
      }
    }
    // .user:hover {
    //   transform: scale(0.9);
    // }
  }
}
