@import "../../utils/mixins/flex";
@import "../../utils/varialbles/colors";
@import "../../utils/mixins/button";
@import "../../utils/varialbles/fonts";
@import "../../utils/varialbles/border";

.user_nav {
  @include flex($content: space-between);
  width: 1200px;
  height: 100px;
  margin: 10px auto 0;
  .user_info {
    @include flex($content: space-between);
    h1 {
      font-size: 24px;
      margin-left: 5px;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
}
.search_section {
  margin: 5px auto ;
  width: 1200px;
  .input_div {
    width: 100%;
    i {
      font-size: 16px;
    }
  }
}

.users_section {
  // border: 1px solid black;
  width: 1200px;
  margin: 50px auto;
  cursor: pointer;
  overflow-y: auto;

  .user {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgb(222, 222, 222);
    transition-duration: 0.7s;
    div {
      width: 10px;
      height: 10px;
      border-radius: 50px;
    }
    .active {
      background-color: rgb(43, 246, 43);
    }
    .deactive {
      background-color: tomato;
    }
    p {
      margin-left: 15px;
      width: 100%;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    img {
      width: 42px;
      height: 42px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .user_nav {
    width: 1050px;
  }
  .search_section {
    margin: 20px auto;
    width: 1050px;
    .input_div {
      width: 100%;
    }
  }
  .active_user_section {
    width: 1050px;
  }
  .users_section {
    width: 1050px;
  }
}

@media screen and (max-width: 1050px) {
  .user_nav {
    width: 750px;
  }
  .search_section {
    margin: 0px auto;
    width: 750px;
    .input_div {
      width: 100%;
    }
  }
  .active_user_section {
    width: 750px;
  }
  .users_section {
    width: 750px;
  }
}

@media screen and (max-width: 750px) {
  .user_nav {
    width: 90%;
    height: 80px;
    margin: 10px auto 0;
    .user_info {
      @include flex($content: space-between);
      h1 {
        font-size: 18px;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .search_section {
    margin: 0px auto;
    width: 90%;
    .input_div {
      width: 100%;
    }
  }

  .users_section {
    width: 90%;
    margin: 50px auto;
    .user {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
      margin-bottom: 25px;
      transition-duration: 0.7s;
      div {
        width: 8px;
        height: 8px;
        border-radius: 50px;
      }
      p {
        margin-left: 12px;
        width: 100%;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}
