@import "../../utils/mixins/flex";
@import "../../utils/varialbles/colors";
@import "../../utils/mixins/button";
@import "../../utils/varialbles/fonts";

nav {
  @include flex($content: center);
  height: 110px;
  margin-bottom: 40px;
  .logo {
    display: flex;
    align-items: center;
    img {
      margin-right: 15px;
      width: 32px;
    }
    h1 {
      font-size: 38px;
      margin-bottom: 5px;
      font-family: "Righteous", cursive;
    }
  }
}
header {
  height: 75vh;
  @include flex($content: center, $items: center, $direc: column);
  text-align: center;
  h1 {
    font-size: 78px;
    font-weight: bold;
    line-height: 100px;
  }
  p {
    margin: 15px 0 50px;
    font-size: 18px;
    line-height: 32px;
    width: 750px;
  }
  .input_div {
    width: 750px;
  }
}
footer {
  text-align: center;
  p {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  a {
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-items: center;
    margin: 0 4px 0 6px;
  }
  img {
    width: 25px;
  }
}

@media screen and (max-width: 1050px) {
  header {
    height: 75vh;
    @include flex($content: center, $items: center, $direc: column);
    text-align: center;
    // border: 2px solid red;
    h1 {
      font-size: 68px;
      font-weight: bold;
      line-height: 90px;

    }
    p {
      margin: 15px 0 50px;
      font-size: 16px;
      line-height: 30px;
      width: 720px;
    }
    .input_div {
      width: 700px;
    }
  }
}

@media screen and (max-width: 750px) {
  header {
    height: 75vh;
    @include flex($content: center, $items: center, $direc: column);
    text-align: center;
    // border: 2px solid red;
    h1 {
      font-size: 58px;
      font-weight: bold;
      line-height: 70px;
    
    }
    p {
      margin: 15px 0 50px;
      font-size: 16px;
      line-height: 30px;
      width: 90%;
    }
    .input_div {
      width: 90%;
    }
  }
}

@media screen and (max-width: 550px) {
  nav {
    @include flex($content: center);
    height: 90px;
    .logo {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        width: 25px;
      }
      h1 {
        font-size: 24px;
        margin-bottom: 5px;
        font-family: "Righteous", cursive;
      }
    }
  }
  header {
    width: 95%;
    height: 75vh;
    @include flex($content: center, $items: center, $direc: column);
    text-align: center;
    margin: 0 auto;
    // border: 2px solid red;
    h1 {
      font-size: 28px;
      font-weight: bold;
      line-height: 42px;
    }
    p {
      margin: 15px 0 50px;
      font-size: 12px;
      line-height: 24px;
      width: 95%;
    }
    .input_div {
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      button {
        margin-top: 20px;
      }
    }
  }
  footer {
    text-align: center;
    p {
      display: flex;
      justify-content: center;
      margin: 15px 0;
    }
    a {
      font-weight: bold;
      text-decoration: underline;
      display: flex;
      align-items: center;
      margin: 0 4px 0 6px;
    }
    img {
      width: 20px;
    }
  }
}
