@import "../../utils/mixins/flex";
@import "../../utils/varialbles/colors";
@import "../../utils/mixins/button";
@import "../../utils/varialbles/fonts";
@import "../../utils/varialbles/border";

.profile_nav {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 120px;
  i {
    font-size: 1.6rem;
    cursor: pointer;
  }
}
.profile_update {
  @include flex($direc: column, $items: center);
  div {
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 1px solid rgb(227, 227, 227);
    padding: 5px;
    border-radius: 50%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -80px;
      cursor: pointer;
    }
  }
  input {
    padding: 12px 24px;
    border-radius: 50px;
    width: 550px;
    font-size: 16px;
    margin: 40px 0px 30px;
    border: 3px solid $purple;
    background-color: transparent;
  }
}

@media screen and (max-width: 750px) {
  .profile_nav {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
    i {
      font-size: 1.6rem;
      cursor: pointer;
    }
  }
  .profile_update {
    @include flex($direc: column, $items: center);
    div {
      overflow: hidden;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -80px;
        cursor: pointer;
      }
    }
    input {
      padding: 10px 20px;
      border-radius: 50px;
      width: 80%;
      font-size: 12px;
      margin: 30px 0px 20px;
      border: 2px solid $purple;
    }
  }
}
